body{
    font-family: Arial, Helvetica, sans-serif;
}
.custom-color{
    background-color: #002e6d;
    
}

ul li{
    color:white;
}

ul li a{
    color: white;
    padding-left: 30px !important;
}

ul li a:hover{
    color: #d0202f !important;
}

.img-size{
    width: 100%;
    position: relative;
    left: 15%;
    max-width: 100px;
    height: auto;
}

.nav-item .dropdown-menu{

     border-top: 5px solid #d0202f ;
}

.dropdown-toggle::after {
    color: #d0202f;
    position: absolute;
    top:50%;
}

.search{
    cursor: pointer;
    color: #d0202f;


}

.fa-search{
    position: relative;
    top:10px;
    left: 35px;
    transform: rotate(90deg);
}

@media only screen and (max-width: 996px) {

    .img-size{
        width: 100%;
        max-width: 100px;
        position: none;
        left: 0 !important;
        height: auto;
    }

    .spacing{
        margin-left: 0 !important;
    }

    ul li a{
        color: white;
        padding-left: 0 !important;
    }

    .dropdown-toggle::after {
        color: #d0202f;
        position: relative;
        top:50%;
    }

    .fa-search{
        position: relative;
        top:8px;
        left: 0;
        transform: rotate(90deg);
    }
  }

  .container{
      padding-top: 30px;
  }

  .mainContent{
      padding-bottom: 30px;
    background-color: #e8e8e8a6; 
}



  
 

 
 

 
 



 